Repository antarctica/sda-siis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app, containerise-api

black:
  stage: üß™ test
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/api:latest
    entrypoint:
    - ''
  script:
  - black --check api/
  needs: []

build-app-int:
  stage: üèó build
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/app:latest
    entrypoint:
    - ''
  variables:
    SERVICE_API_ENDPOINT: http://10.70.1.145:32002
    SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
    SERVICE_API_OGC_ENDPOINT: http://10.70.1.145:32001
  before_script:
  - cd app
  ...

build-app-stage:
  stage: üèó build
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/app:latest
    entrypoint:
    - ''
  variables:
    SERVICE_API_ENDPOINT: https://api.siis.sda-stage.bas.ac.uk
    SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
  ...

build-app-prod:
  stage: üèó build
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/app:latest
    entrypoint:
    - ''
  variables:
    SERVICE_API_ENDPOINT: https://api.siis.sda.bas.ac.uk
    SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
    SERVICE_API_OGC_ENDPOINT: https://geoserver.siis.sda.bas.ac.uk
  ...

package-app-int:
  stage: üì¶ package
  image:
    name: alpine:latest
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache zip
  - mkdir -p ./app/dist-pkgs/
  - cd ./app/dist/
  script:
  - zip ../dist-pkgs/app.zip *
  - zip ../dist-pkgs/app-no-src-maps.zip * -x '*.map*'
  artifacts:
    paths:
    - app/dist-pkgs
  ...

package-app-stage:
  stage: üì¶ package
  image:
    name: alpine:latest
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache zip
  - mkdir -p ./app/dist-pkgs/
  - cd ./app/dist/
  script:
  - zip ../dist-pkgs/app-stage.zip *
  - zip ../dist-pkgs/app-stage-no-src-maps.zip * -x '*.map*'
  artifacts:
    paths:
    - app/dist-pkgs
  ...

package-app-prod:
  stage: üì¶ package
  image:
    name: alpine:latest
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache zip
  - mkdir -p ./app/dist-pkgs/
  - cd ./app/dist/
  script:
  - zip ../dist-pkgs/app-prod.zip *
  - zip ../dist-pkgs/app-prod-no-src-maps.zip * -x '*.map*'
  artifacts:
    paths:
    - app/dist-pkgs
  ...

containerise-app:
  stage: üê≥ containerise
  image:
    name: docker:19.03-dind
    entrypoint:
    - ''
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  - cp -r ./app/dist/ ./app/support/docker-packaging/
  - cd app/support/docker-packaging/
  script:
  ...

containerise-api:
  stage: üê≥ containerise
  image:
    name: docker:19.03-dind
    entrypoint:
    - ''
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  - cp -r ./api/api/ ./api/support/docker-packaging/
  - cd api/support/docker-packaging/
  script:
  ...

make polarroute point styling match app better (albeit hackily)
  app/components/AppMap.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

add optional polarRouteDevMode boolean url parameter; add button to refresh routes manually
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

add units to fuel text
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

implement initial logic for selecting and changing the map/application crs
  app_v2/package-lock.json
  app_v2/package.json
  app_v2/src/api/api.tsx
  app_v2/src/api/useProducts.tsx
  app_v2/src/components/App/App.tsx
  app_v2/src/components/Header/Header.tsx
  app_v2/src/components/Header/actions/SelectProjection.tsx
  app_v2/src/components/Header/actions/Toolbar.tsx
  app_v2/src/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/components/LayerManager/ui/layer/LayerItem.tsx
  app_v2/src/components/ListBox/ListBox.tsx
  app_v2/src/components/ListBox/index.ts
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/layers/ShipPositionLayer/ShipPositionLayer.tsx
  app_v2/src/components/Map/useMapInitialisation.tsx
  app_v2/src/components/Map/utils.ts
  app_v2/src/components/PopoverMenu/PopoverMenu.tsx
  app_v2/src/components/PopoverMenu/index.ts
  app_v2/src/components/Select/Select.tsx
  app_v2/src/components/common/forms/DatePicker/DateField.tsx
  app_v2/src/components/common/forms/DatePicker/DatePicker.tsx
  app_v2/src/components/common/forms/DatePicker/DateRangePicker.tsx
  app_v2/src/components/common/forms/TextField/TextField.tsx
  app_v2/src/config/constants.ts
  app_v2/src/hooks/useInitialCRS.ts
  app_v2/src/store/features/projectionSlice.ts
  app_v2/src/store/index.ts
  docs/api.md
Due: none

extract out selection list component
  app_v2/src/components/Header/actions/SelectProjection.tsx
  app_v2/src/components/SelectionMenu/SelectionMenu.tsx
  app_v2/src/components/SelectionMenu/index.ts
Due: none

add logic to constrain navigation to the bounds of the map regions.
  app_v2/src/api/useProducts.tsx
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/layers/ShipPositionLayer/ShipPositionLayer.tsx
  app_v2/src/components/Map/useMapInitialisation.tsx
  app_v2/src/config/constants.ts
Due: none

fix changing heading whilst view goto is in progress
  app_v2/src/components/Map/map-controls/MapRotationControl/MapRotationControl.tsx
Due: none

add CICD and Docker integration for app_v2
  .gitlab-ci.yml
  app_v2/.dockerignore
  app_v2/Dockerfile
  app_v2/TODO.md
  app_v2/package-lock.json
  app_v2/package.json
  app_v2/src/components/Map/layers/ImageryFootprintLayer/ImageryFootprintLayerClass.ts
  app_v2/src/components/Map/utils.ts
  app_v2/src/types/api.d.ts
  app_v2/vite.config.ts
  docker-compose.yml
Due: none

fix black linting issues
  api/api/granule.py
  api/api/models.py
  api/api/product.py
Due: black, containerise-api

force CICD to use the correct eslint file when applying fix.
  app_v2/Dockerfile
  app_v2/eslint.config.mjs
  app_v2/package.json
Due: none

attempt to fix cicd yarn lock error in CICD
  app/Dockerfile
  app/yarn.lock
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

use more recent node version for building deployments.
  .gitlab-ci.yml
Due: none

attempt to revert lock file to fix build
  app/yarn.lock
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

revert some changes to see if old cicd process works.
  .gitlab-ci.yml
  app/Dockerfile
Due: none

update packages
  app/package.json
  app/yarn.lock
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Disable zoom to ship button when the current crs extent does not contain its location.
  app_v2/TODO.md
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/ShipSensorInfo/PositionInfo.tsx
  app_v2/src/config/constants.ts
  app_v2/src/hooks/useInitialCRS.ts
  app_v2/src/utils/mapUtils.ts
Due: none

Add simple logic to allow a user to minimise much of the user interface from a single location.
  app_v2/TODO.md
  app_v2/public/svg/sprites.svg
  app_v2/src/components/Header/actions/SelectProjection.tsx
  app_v2/src/components/Header/actions/Toolbar.tsx
  app_v2/src/components/ShipSensorInfo/ShipSensorInfo.tsx
  app_v2/src/components/Sidebar/SidebarHooks.tsx
  app_v2/src/components/Sidebar/sidebarMachine.ts
  app_v2/src/components/common/SvgIcon/SvgIcon.tsx
  app_v2/src/hooks/useMinimiseUI.tsx
  app_v2/src/hooks/useResetApplicationState.tsx
  app_v2/src/store/features/shipSlice.ts
Due: none

add tabbed panel layout to map layers panel.
  api/api/models.py
  api/api/siis_api.yml
  app_v2/Dockerfile
  app_v2/TODO.md
  app_v2/package-lock.json
  app_v2/package.json
  app_v2/public/svg/sprites.svg
  app_v2/src/api/useShipSensorData.tsx
  app_v2/src/components/App/App.tsx
  app_v2/src/components/Drawer/Drawer.tsx
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/layers/ImageryFootprintLayer/ImageryFootprintLayerClass.ts
  app_v2/src/components/Map/map-controls/MapRotationControl/MapRotationControl.tsx
  app_v2/src/components/Map/useMapInitialisation.tsx
  app_v2/src/components/Map/utils.ts
  app_v2/src/components/Panel/Panel.tsx
  app_v2/src/components/Panel/header/Action.tsx
  app_v2/src/components/Panel/header/Header.tsx
  app_v2/src/components/Panel/panelRecipe.ts
  app_v2/src/components/Panel/tabs/Tabs.tsx
  app_v2/src/components/ShipSensorInfo/PositionInfo.tsx
  app_v2/src/components/Sidebar/Sidebar.tsx
  app_v2/src/components/Sidebar/SidebarHooks.tsx
  app_v2/src/components/Sidebar/sidebarMachine.ts
  app_v2/src/components/Sidebar/types.ts
  app_v2/src/components/common/Button/buttonRecipe.ts
  app_v2/src/components/common/SvgIcon/SvgIcon.tsx
  app_v2/src/components/common/forms/Slider/Slider.tsx
  app_v2/src/hooks/useInitialCRS.ts
  app_v2/src/hooks/useShipPositionWithVisibility.ts
  app_v2/src/panels/MapLayers/Legend.tsx
  app_v2/src/panels/MapLayers/MapLayers.tsx
  app_v2/src/panels/MapLayers/index.ts
  app_v2/src/store/features/shipSlice.ts
  app_v2/src/types/api.d.ts
  app_v2/vite.config.ts
  docker-compose.yml
  docs/api.md
Due: black, containerise-api

allow graticule to be toggled on and off
  app_v2/TODO.md
  app_v2/panda.config/semanticColors.ts
  app_v2/public/svg/sprites.svg
  app_v2/src/components/LayerManager/ui/layer/LayerItem.tsx
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/layers/GraticuleLayer/GraticuleLayer.tsx
  app_v2/src/components/Map/layers/GraticuleLayer/GraticuleLayerClass.ts
  app_v2/src/components/Map/layers/GraticuleLayer/index.ts
  app_v2/src/components/Map/layers/ShipPositionLayer/ShipPositionLayer.tsx
  app_v2/src/components/Map/utils.ts
  app_v2/src/components/Panel/header/Action.tsx
  app_v2/src/components/Panel/tabs/Tabs.tsx
  app_v2/src/components/SelectionMenu/SelectionMenu.tsx
  app_v2/src/components/Sidebar/Sidebar.tsx
  app_v2/src/components/Sidebar/actions/ShowMapGraticule.tsx
  app_v2/src/components/Sidebar/actions/ThemeToggle.tsx
  app_v2/src/components/common/SvgIcon/SvgIcon.tsx
  app_v2/src/esri-overides.css
  app_v2/src/panels/MapLayers/Legend.tsx
  app_v2/src/store/features/appSlice.ts
  app_v2/src/store/index.ts
Due: none

update dependencies
  app_v2/TODO.md
  app_v2/package-lock.json
  app_v2/package.json
  app_v2/src/components/Header/actions/SelectProjection.tsx
  app_v2/taze.config.ts
Due: none

update major versions for subset of dependencies
  app_v2/package-lock.json
  app_v2/package.json
Due: none

update panda css to the latest version.
  app_v2/eslint.config.mjs
  app_v2/package-lock.json
  app_v2/panda.config/siisColors.ts
  app_v2/src/components/common/forms/Slider/Slider.tsx
  docker-compose.yml
Due: none

initial implementation of coordinate input
  app_v2/TODO.md
  app_v2/public/svg/sprites.svg
  app_v2/src/arcgis/CoordinateToolsLoader/CoordinateToolsLoader.tsx
  app_v2/src/arcgis/CoordinateToolsLoader/index.ts
  app_v2/src/arcgis/hooks/useDrawSingleGraphic.tsx
  app_v2/src/arcgis/projection/ProjectionProvider.tsx
  app_v2/src/components/App/App.tsx
  app_v2/src/components/Header/actions/SelectProjection.tsx
  app_v2/src/components/Map/map-controls/CursorLocationControl/CursorLocationControl.tsx
  app_v2/src/components/Map/map-controls/CursorLocationControl/useFormattedLatLon.tsx
  app_v2/src/components/Map/map-controls/ZoomControl/ZoomControl.tsx
  app_v2/src/components/SIISLogo/SIISLogo.tsx
  app_v2/src/components/Select/Select.tsx
  app_v2/src/components/SelectionMenu/SelectionMenu.tsx
  app_v2/src/components/SelectionMenu/index.ts
  app_v2/src/components/common/Button/buttonRecipe.ts
  app_v2/src/components/common/SvgIcon/SvgIcon.tsx
  app_v2/src/components/common/forms/CoordinateInput/CoordinateInput.tsx
  app_v2/src/components/common/forms/CoordinateInput/index.ts
  app_v2/src/components/common/forms/DatePicker/DateField.tsx
  app_v2/src/components/common/forms/DatePicker/DatePicker.tsx
  app_v2/src/components/common/forms/DatePicker/DateRangePicker.tsx
  app_v2/src/components/common/forms/Field/styles.ts
  app_v2/src/components/common/forms/TextField/TextField.tsx
  app_v2/src/hooks/useShipPositionWithVisibility.ts
  app_v2/src/panels/Drawing/Drawing.tsx
  app_v2/src/utils/formatCoordinates.ts
Due: none

show table help text when appropriate
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

add button to re-request routes
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

set polar route endpoint in App and use resolved endpoint computed property in requests
  app/components/App.vue
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

correct time unit to days
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

tidy up status request intervals in beforeDestroy hook and set them up for pending routes
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

disallow show for routes without json or json_unsmoothed
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

add ship buffer ring icon
  app_v2/TODO.md
  app_v2/public/svg/sprites.svg
  app_v2/src/components/common/SvgIcon/SvgIcon.tsx
Due: none

fix polarRouteDevMode urlParam
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

avoid mutating props directly
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

change polarroute button text to "Ro" to avoid clash with another button
  app/components/AppMapControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Start adding in logic for handling drawing measurements on the map.
  app_v2/src/arcgis/hooks/useDrawSingleGraphic.tsx
  app_v2/src/arcgis/hooks/useMeasureLine.tsx
  app_v2/src/components/App/App.tsx
  app_v2/src/components/Map/map-controls/MeasureLine/MeasureLine.tsx
  app_v2/src/components/Map/map-controls/MeasureLine/index.ts
  app_v2/src/components/Sidebar/actions/ShowMapGraticule.tsx
  app_v2/src/components/common/Button/buttonRecipe.ts
  app_v2/src/components/common/forms/CoordinateInput/CoordinateInput.tsx
  app_v2/src/components/common/forms/DatePicker/DatePicker.tsx
  app_v2/src/components/common/forms/DatePicker/DateRangePicker.tsx
  app_v2/src/components/common/forms/Field/styles.ts
  app_v2/src/panels/Measure/Measure.tsx
  app_v2/src/utils/mapUtils.ts
Due: none

update line measurement interaction logic with improved styling and the abilty to provide a graphics layer to utilise.
  app_v2/src/arcgis/hooks/measurements/constants.ts
  app_v2/src/arcgis/hooks/measurements/types.ts
  app_v2/src/arcgis/hooks/measurements/useMeasureLine.tsx
  app_v2/src/arcgis/hooks/measurements/useMeasurementGraphics.tsx
  app_v2/src/arcgis/hooks/measurements/utils.ts
  app_v2/src/arcgis/hooks/useLayer.tsx
  app_v2/src/arcgis/hooks/useMeasureLine.tsx
  app_v2/src/components/ListBox/ListBox.tsx
  app_v2/src/components/Map/map-controls/MeasureLine/MeasureLine.tsx
  app_v2/src/components/Select/Select.tsx
  app_v2/src/panels/Drawing/Drawing.tsx
  app_v2/src/utils/mapUtils.ts
Due: none

stub in some logic for passing in graphics layers into the single sketch graphic components.
  app_v2/src/arcgis/hooks/useDrawSingleGraphic.tsx
  app_v2/src/components/Map/map-controls/MeasureLine/MeasureLine.tsx
  app_v2/src/components/common/forms/CoordinateInput/CoordinateInput.tsx
  app_v2/src/panels/Drawing/Drawing.tsx
  app_v2/src/panels/Measure/Measure.tsx
Due: none

add default crs if getting ship position fails.
  app_v2/src/hooks/useInitialCRS.ts
Due: none

fix type errors
  app_v2/src/components/common/Tooltip/Tooltip.tsx
Due: none

fix lint error in api
  api/api/models.py
Due: black, containerise-api

fix packaging script for appv2
  .gitlab-ci.yml
Due: none

Path conditions:
  black: any of: api/**/*.*
  build-app-int: any of: app/**/*.*
  build-app-stage: any of: app/**/*.*
  build-app-prod: any of: app/**/*.*
  package-app-int: any of: app/**/*.*
  package-app-stage: any of: app/**/*.*
  package-app-prod: any of: app/**/*.*
  containerise-app: any of: app/**/*.*
  containerise-api: any of: api/**/*.*
