Repository antarctica/sda-siis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app, containerise-api

Path conditions:
  black: any of: api/**/*.*
  build-app-int: any of: app/**/*.*
  build-app-stage: any of: app/**/*.*
  build-app-prod: any of: app/**/*.*
  package-app-int: any of: app/**/*.*
  package-app-stage: any of: app/**/*.*
  package-app-prod: any of: app/**/*.*
  containerise-app: any of: app/**/*.*
  containerise-api: any of: api/**/*.*

style points
  app/components/AppMap.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

change button text
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

add ship position to locations; transform coords and show dropdown locations on map
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

add end point selection
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

fix issue with multiple ship positions in list
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

beginning of route requesting
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

poll for route status
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

add some error handling; use debug console logging
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

update Readme
  app_v2/README.md
  app_v2/__mocks__/@arcgis/core/views/MapView.ts
  app_v2/__mocks__/@arcgis/core/widgets/Zoom/ZoomViewModel.ts
  app_v2/package.json
  app_v2/src/components/Map/utils.ts
  app_v2/src/config/assetLayer.ts
  app_v2/src/config/scene.ts
  app_v2/src/hooks/useFeatureLayerView.tsx
Due: none

Add toggle fullscreen option, and simple view scale information
  app_v2/src/arcgis/hooks/useViewContext.tsx
  app_v2/src/components/App/App.tsx
  app_v2/src/components/Header/Header.tsx
  app_v2/src/components/Header/actions/Actions.tsx
  app_v2/src/components/Header/actions/FullScreen.tsx
  app_v2/src/components/Header/data/HeaderData.tsx
  app_v2/src/components/Header/data/ProjectionData.tsx
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Tooltip/Tooltip.tsx
Due: none

Add formatted overview data for projection and times into the header.
  app_v2/package-lock.json
  app_v2/package.json
  app_v2/src/components/App/App.tsx
  app_v2/src/components/DataGrid/DataGrid.tsx
  app_v2/src/components/DateTime/DateTime.tsx
  app_v2/src/components/DateTime/index.ts
  app_v2/src/components/Header/data/HeaderData.tsx
  app_v2/src/components/Header/data/ProjectionData.tsx
  app_v2/src/components/Header/data/TemporalData.tsx
  app_v2/src/hooks/useFormatDate.tsx
  app_v2/src/hooks/useFormatNumber.tsx
  app_v2/src/hooks/useTime.tsx
Due: none

add scale bar and tweak zoom styles
  app_v2/panda.config/colors.ts
  app_v2/src/components/App/App.tsx
  app_v2/src/components/Button/MapButton.tsx
  app_v2/src/components/Drawer/Drawer.tsx
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/map-controls/ScaleControl/ScaleControl.tsx
  app_v2/src/components/Map/map-controls/ScaleControl/index.ts
  app_v2/src/components/Map/map-controls/ZoomControl/ZoomControl.tsx
  app_v2/src/components/SvgIcon/SvgIcon.tsx
  app_v2/src/components/Tooltip/Tooltip.tsx
  app_v2/src/esri-overides.css
  app_v2/src/index.css
Due: none

Add cursor position widget to the map
  app_v2/src/arcgis/projection/ProjectionProvider.tsx
  app_v2/src/components/App/App.tsx
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/map-controls/CursorLocationControl/CursorLocationControl.tsx
  app_v2/src/components/Map/map-controls/CursorLocationControl/index.ts
  app_v2/src/components/Map/map-controls/CursorLocationControl/useFormattedLatLon.tsx
  app_v2/src/esri-overides.css
Due: none

hide zoom and cursor position widget on mobile devices.
  app_v2/src/components/Map/map-controls/CursorLocationControl/CursorLocationControl.tsx
  app_v2/src/components/Map/map-controls/ZoomControl/ZoomControl.tsx
Due: none

fix padding and height of cursor position button
  app_v2/src/components/Map/map-controls/CursorLocationControl/CursorLocationControl.tsx
Due: none

Fix type errors
  app_v2/src/components/DateTime/DateTime.tsx
  app_v2/src/components/Drawer/Drawer.tsx
  app_v2/src/components/Map/map-controls/HomeControl/HomeControl.tsx
  app_v2/src/hooks/useAssetLocation.tsx
  app_v2/tsconfig.json
Due: none

Add Open-api types integration process - able to generate and consume api type with swr hooks.
  app_v2/.env.development
  app_v2/package-lock.json
  app_v2/package.json
  app_v2/src/types/api.d.ts
  app_v2/src/vite-env.d.ts
Due: none

Add in initial user interface menu for viewing current ship sensor information.
  app_v2/panda.config/colors.ts
  app_v2/public/svg/sprites.svg
  app_v2/src/api/useShipSensorData.tsx
  app_v2/src/components/Button/MapButton.tsx
  app_v2/src/components/Button/buttonRecipe.ts
  app_v2/src/components/DataGrid/DataGrid.tsx
  app_v2/src/components/Header/Title.tsx
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/map-controls/CursorLocationControl/CursorLocationControl.tsx
  app_v2/src/components/Map/map-controls/CursorLocationControl/useFormattedLatLon.tsx
  app_v2/src/components/Map/map-controls/ZoomControl/ZoomControl.tsx
  app_v2/src/components/ShipSensorInfo/ShipSensorInfo.tsx
  app_v2/src/components/ShipSensorInfo/index.ts
  app_v2/src/components/Sidebar/Sidebar.tsx
  app_v2/src/components/Sidebar/actions/SidebarButton.tsx
  app_v2/src/components/SvgIcon/SvgIcon.tsx
  app_v2/src/components/Theme/ThemeToggler.tsx
  app_v2/src/components/Tooltip/Tooltip.tsx
  app_v2/src/components/Typography/Typography.tsx
  app_v2/src/utils/formatCoordinates.ts
Due: none

Refining user interface for ship sensor information.
  app_v2/package-lock.json
  app_v2/package.json
  app_v2/panda.config.ts
  app_v2/panda.config/colors.ts
  app_v2/public/svg/sprites.svg
  app_v2/src/components/Badge/Badge.tsx
  app_v2/src/components/Badge/index.ts
  app_v2/src/components/ShipSensorInfo/ShipSensorInfo.tsx
  app_v2/src/components/SvgIcon/SvgIcon.tsx
  app_v2/src/components/Typography/Typography.tsx
Due: none

Refactor Ship Sensor component into seperate parts. Add functionality to zoom to vessel
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/ShipSensorInfo/PositionInfo.tsx
  app_v2/src/components/ShipSensorInfo/SensorInfoPanel.tsx
  app_v2/src/components/ShipSensorInfo/ShipInfo.tsx
  app_v2/src/components/ShipSensorInfo/ShipSensorInfo.tsx
  app_v2/src/components/ShipSensorInfo/StatusBadge.tsx
Due: none

Add better UI for status information for the ship sensor data
  app_v2/src/api/useShipSensorData.tsx
  app_v2/src/components/PulsatingDot/PulsatingDot.tsx
  app_v2/src/components/PulsatingDot/index.ts
  app_v2/src/components/ShipSensorInfo/ShipSensorInfo.tsx
Due: none

Add ship location, heading and rings.
  app_v2/public/Ship.png
  app_v2/src/api/useShipSensorData.tsx
  app_v2/src/arcgis/projection/ProjectionProvider.tsx
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/map-controls/CursorLocationControl/CursorLocationControl.tsx
  app_v2/src/components/ShipPositionMapLayer/ShipPositionMapLayer.tsx
  app_v2/src/components/ShipPositionMapLayer/useShipBufferGraphic.tsx
  app_v2/src/components/ShipPositionMapLayer/useShipLocationGraphic.tsx
  app_v2/src/components/ShipPositionMapLayer/utils.ts
  app_v2/src/components/ShipSensorInfo/PositionInfo.tsx
  app_v2/src/config/map.ts
  app_v2/src/types/index.ts
  app_v2/src/utils/mapUtils.ts
Due: none

ensure that the rings update with the ship location
  app_v2/src/components/ShipPositionMapLayer/utils.ts
Due: none

Add ship tracking logic
  app_v2/src/components/App/App.tsx
  app_v2/src/components/ShipPositionMapLayer/useShipLocationGraphic.tsx
  app_v2/src/components/ShipSensorInfo/PositionInfo.tsx
  app_v2/src/store/features/shipSlice.ts
  app_v2/src/store/index.ts
Due: none

update the font to be less "generic"
  app_v2/package-lock.json
  app_v2/package.json
  app_v2/panda.config.ts
  app_v2/src/main.tsx
Due: none

set up app directory for testing existing app builds
  app/.gitignore
  app/package-lock.json
  app/yarn.lock
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

simplify ship heading calculation logic
  app_v2/src/components/ShipPositionMapLayer/useShipLocationGraphic.tsx
  app_v2/src/components/ShipPositionMapLayer/utils.ts
  app_v2/src/utils/mapUtils.ts
Due: none

correct api definition
  api/api/siis_api.yml
  app_v2/src/types/api.d.ts
Due: black, containerise-api

stub in initial Layer Group and Layer Item components
  app_v2/panda.config/colors.ts
  app_v2/panda.config/utilities/focusring.utility.ts
  app_v2/src/components/LayerManager/ui/LayerGroupAccordionItem.tsx
  app_v2/src/components/LayerManager/ui/LayerGroupItem.tsx
  app_v2/src/components/LayerManager/ui/LayerItem.tsx
  app_v2/src/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/components/common/forms/Checkbox/Checkbox.tsx
Due: none

add slider component
  app_v2/TODO.md
  app_v2/panda.config/colors.ts
  app_v2/panda.config/utilities/focusring.utility.ts
  app_v2/src/components/LayerManager/hooks/useEnabledChildCount.ts
  app_v2/src/components/LayerManager/ui/LayerGroupItem.tsx
  app_v2/src/components/LayerManager/ui/LayerItem.tsx
  app_v2/src/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/components/common/forms/Checkbox/Checkbox.tsx
  app_v2/src/components/common/forms/Field/Field.tsx
  app_v2/src/components/common/forms/Field/index.ts
  app_v2/src/components/common/forms/Slider/Slider.tsx
  app_v2/src/components/common/forms/Slider/index.ts
Due: none

create example of drawing graphic on the map.
  app_v2/panda.config.ts
  app_v2/panda.config/basColors.ts
  app_v2/panda.config/colors.ts
  app_v2/panda.config/semanticColors.ts
  app_v2/panda.config/siisColors.ts
  app_v2/src/arcgis/hooks/useGraphicSketch.tsx
  app_v2/src/arcgis/hooks/useLayer.tsx
  app_v2/src/components/App/App.tsx
  app_v2/src/components/common/Button/buttonRecipe.ts
  app_v2/src/panels/Drawing/Drawing.tsx
  app_v2/src/panels/Drawing/index.ts
Due: none

clean up icon sprites
  app_v2/public/svg/sprites.svg
  app_v2/src/components/App/App.tsx
Due: none

Start stubbing in initial layer control syncronisation with the layer management widget
  app_v2/src/components/LayerManager/LayerManagerProvider.tsx
  app_v2/src/components/LayerManager/hooks/useAddLayer.tsx
  app_v2/src/components/LayerManager/machines/layerManagerMachine.ts
  app_v2/src/components/LayerManager/machines/layers/layerMachine.ts
  app_v2/src/components/LayerManager/machines/types.ts
  app_v2/src/components/LayerManager/ui/LayerItem.tsx
  app_v2/src/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/components/Map/Map.tsx
Due: none

fix re-render bug - issues with provider being re-rendered when window size changed
  app_v2/src/components/App/App.tsx
  app_v2/src/components/LayerManager/LayerManagerProvider.tsx
  app_v2/src/components/LayerManager/hooks/useResetLayers.tsx
  app_v2/src/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/components/Map/Map.tsx
Due: none

Add toolbar keyboard behaviour
  app_v2/src/components/Header/Header.tsx
  app_v2/src/components/Header/actions/Actions.tsx
  app_v2/src/components/Header/actions/Toolbar.tsx
  app_v2/src/components/ShipSensorInfo/PositionInfo.tsx
  app_v2/src/components/Sidebar/Sidebar.tsx
Due: none
