Repository antarctica/sda-siis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-app, package-app, package-api

build-app:
  stage: üèó build
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/app:latest
    entrypoint:
    - ''
  variables:
    SERVICE_API_ENDPOINT: http://10.70.1.145:32002/api
    SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
    SERVICE_API_OGC_ENDPOINT: http://10.70.1.145:32001/geoserver/ows
  ...

package-app:
  stage: üì¶ package
  image:
    name: docker:19.03-dind
    entrypoint:
    - ''
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  - cp -r ./app/dist/ ./app/support/docker-packaging/
  - cd app/support/docker-packaging/
  script:
  ...

package-api:
  stage: üì¶ package
  image:
    name: docker:19.03-dind
    entrypoint:
    - ''
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  - cp -r ./api/api/ ./api/support/docker-packaging/
  - cd api/support/docker-packaging/
  script:
  ...

Adding Nomad job deployment
  .gitignore
  README.md
  provisioning/terraform/docker-compose.yml
  provisioning/terraform/iam/policies/inline/siis-project-samples-bucket.json
  provisioning/terraform/nomad/siis-integration.hcl.tmpl
  provisioning/terraform/terraform.tf
Due: none

Adding GitLab CI Nomad deployment job
  .gitlab-ci.yml
  provisioning/terraform/iam/policies/inline/siis-terraform-remote-state.json
  provisioning/terraform/terraform.tf
Due: none

Adding remote servers to OpenAPI definitions
  api-kv/openapi.yml
  api/api/swagger.yml
Due: package-api

Fixing KV API
  api-kv/Dockerfile
Due: none

Fixing frontend application
  app/index.html
Due: build-app, package-app

Fixing Terraform in GitLab CD
  provisioning/terraform/iam/policies/inline/siis-terraform-remote-state.json
Due: none

Updating documentation
  README.md
Due: none

Preparing for release
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: none

Adding persistent volume for GWC blob store
  CHANGELOG.md
  README.md
  docker-compose.yml
  provisioning/terraform/nomad/siis-integration.hcl.tmpl
  runtime/.gitignore
Due: none

Tidying up
  CHANGELOG.md
  docker-compose.yml
  provisioning/terraform/nomad/siis-integration.hcl.tmpl
Due: none

Adding CORS support to API
  CHANGELOG.md
  api/api/api.py
Due: package-api

Adding documentation on the data directory
  CHANGELOG.md
  README.md
Due: none

Tidying up
  README.md
  docker-compose.yml
Due: none

Standardising on ‘sea ice’ not ‘sea-ice’
  CHANGELOG.md
  README.md
  api-kv/openapi.yml
  api/README.md
Due: package-api

Updating GeoServer log path
  CHANGELOG.md
  README.md
Due: none

Tidying up
  README.md
Due: none

Updating for 2021
  LICENSE.md
  README.md
Due: none

Displaying creation/modified timestamps in GeoServer UI
  CHANGELOG.md
Due: none

Adding Anarctic/Arctic map MVP
  .gitignore
  docker-compose.yml
  mvp-maps/.babelrc
  mvp-maps/Dockerfile
  mvp-maps/index.html
  mvp-maps/index.js
  mvp-maps/package.json
Due: none

And again
  api/api/layerdef.py
  api/api/models.py
  api/api/swagger.yml
Due: package-api

Lint with black
  api/api/api.py
  api/api/config.py
  api/api/create_db.py
  api/api/granule.py
  api/api/keyvalue.py
  api/api/layerdef.py
  api/api/models.py
Due: package-api

Adding documentation on pulling data directory changes
  README.md
Due: none

Resolve "Use linter: black"
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  api/Dockerfile
  api/requirements-dev.txt
Due: package-api

Rename layerdef resource to product #42
  api/api/create_db.py
  api/api/keyvalue.py
  api/api/layerdef.py
  api/api/models.py
  api/api/product.py
  api/api/swagger.yml
Due: package-api

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Adding projection control
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
  app/package.json
Due: build-app, package-app

Enabling VueLayers debug mode
  CHANGELOG.md
  docker-compose.yml
Due: none

Tidying up - documenting app start up errors
  README.md
Due: none

Documenting JavaScript dependency instructions
  CHANGELOG.md
  README.md
Due: none

Updating App JS dependencies
  CHANGELOG.md
  app/package.json
Due: build-app, package-app

Tracking Yarn lockfile in repository
  CHANGELOG.md
  app/Dockerfile
  app/yarn.lock
Due: build-app, package-app

Fixing App JS homepage link
  CHANGELOG.md
  app/package.json
Due: build-app, package-app

Refactor to Open API v3 spec
  api/api/api.py
  api/api/keyvalue.py
  api/api/siis_api.yml
  api/api/swagger.yml
Due: package-api

Fixing property access between app components
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
Due: build-app, package-app

Tidying up
  app/components/App.vue
  app/components/AppMap.vue
Due: build-app, package-app

Fixing CI
  app/components/App.vue
Due: build-app, package-app

Adding minimal layer/granule support
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
Due: build-app, package-app

Path conditions:
  build-app: any of: app/**/*.*
  package-app: any of: app/**/*.*
  package-api: any of: api/**/*.*
