Repository antarctica/sda-siis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, build-app, package-app, containerise-app, containerise-api, deploy

black:
  stage: üß™ test
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/api:latest
    entrypoint:
    - ''
  script:
  - black --check api/
  needs: []

build-app:
  stage: üèó build
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/app:latest
    entrypoint:
    - ''
  variables:
    SERVICE_API_ENDPOINT: http://10.70.1.145:32002
    SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
    SERVICE_API_OGC_ENDPOINT: http://10.70.1.145:32001
  before_script:
  - cd app
  ...

package-app:
  stage: üì¶ package
  image:
    name: alpine:latest
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache zip
  - mkdir -p ./app/dist-pkgs/
  - cd ./app/dist/
  script:
  - zip ../dist-pkgs/app.zip *
  - zip ../dist-pkgs/app-no-src-maps.zip * -x '*.map*'
  artifacts:
    paths:
    - app/dist-pkgs
  ...

containerise-app:
  stage: üê≥ containerise
  image:
    name: docker:19.03-dind
    entrypoint:
    - ''
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  - cp -r ./app/dist/ ./app/support/docker-packaging/
  - cd app/support/docker-packaging/
  script:
  ...

containerise-api:
  stage: üê≥ containerise
  image:
    name: docker:19.03-dind
    entrypoint:
    - ''
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  - cp -r ./api/api/ ./api/support/docker-packaging/
  - cd api/support/docker-packaging/
  script:
  ...

deploy:
  stage: üöÄ deploy
  image:
    name: hashicorp/terraform:0.13.4
    entrypoint:
    - ''
  before_script:
  - cd provisioning/terraform
  - export TF_VAR_nomad_update_key=$CI_JOB_ID
  - export TF_VAR_nomad_aws_access_key_id=$NOMAD_AWS_ACCESS_KEY_ID
  ...

Re-enabling sensor component updates
  CHANGELOG.md
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Aending 3031 projection extent
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Setting default time filter to 72 hours
  CHANGELOG.md
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, containerise-app, deploy

Adding open-sans font face
  CHANGELOG.md
  README.md
  app/assets/main.css
  app/components/App.vue
  app/package.json
  app/yarn.lock
Due: build-app, package-app, containerise-app, deploy

Applying monospace font to sensor readings
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Applying monospace font to position control
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Adding hours offset control for clock
  CHANGELOG.md
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Changing default projection/location
  CHANGELOG.md
  app/components/App.vue
Due: build-app, package-app, containerise-app, deploy

Fixing incorrect geoserver endpoint
  .gitlab-ci.yml
  CHANGELOG.md
Due: none

Tidying README
  README.md
Due: none

Changing initial zoom setting and setting minimum zoom
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Re-mapping GWC directory
  CHANGELOG.md
  README.md
  docker-compose.yml
Due: none

Changing default colour scheme to day/light
  app/components/App.vue
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Hiding system/auto colour scheme option
  CHANGELOG.md
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Fixing assumption about value_at_pixel_feature property
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Adding basic status support for the select granule
  CHANGELOG.md
  app/assets/main.css
  app/components/AppGranuleMetadata.vue
  app/components/AppProduct.vue
Due: build-app, package-app, containerise-app, deploy

Granule footprints now reflect granule status
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Fixing heading/longitude based rotation
  CHANGELOG.md
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Adding date filter for granule selection
  CHANGELOG.md
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, containerise-app, deploy

Adding very initial graticule support
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Fixing GeoServer entrypoint script
  CHANGELOG.md
  geoserver/start.sh
Due: none

Fixing additional reference to extensions directory
  geoserver/start.sh
Due: none

Adressing #152, #153, #156
  api/api/config.py
  api/api/granule.py
  api/api/product.py
  api/api/siis_api.yml
Due: black, containerise-api, deploy

Tweaking development environment setup instructions
  CHANGELOG.md
  README.md
  docker-compose.yml
Due: none

Fixing black code formatting
  CHANGELOG.md
  api/api/granule.py
  api/api/product.py
Due: black, containerise-api, deploy

Applying custom formatting to mouse position coordinates
  CHANGELOG.md
  app/components/AppMap.vue
  app/components/AppSensorMetadata.vue
  app/mixins.js
  docker-compose.yml
Due: build-app, package-app, containerise-app, deploy

Allowing heading as a rotation source in EPSG:3857
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Ensuring rotation is corrected when switching rotation source
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Adding full granule details to granule metadata component
  app/components/AppGranuleMetadata.vue
  app/components/AppProduct.vue
Due: build-app, package-app, containerise-app, deploy

Adding hide/show UI panels control
  CHANGELOG.md
  app/assets/main.css
  app/components/App.vue
  app/components/AppGranuleMetadata.vue
  app/components/AppMapControls.vue
  app/components/AppProductSwitcher.vue
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Adding control to centre on and/or track sensor position
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppMapControls.vue
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Fixing switching between position coordinate formats
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Remove labels from graticule
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Adding control to hide/show graticule
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Adding very initial drawing support
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Converting select based app controls to buttons
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Re-arranging and re-labelling app controls
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Adjust spacing in custom position format
  app/mixins.js
Due: build-app, package-app, containerise-app, deploy

Converting time filter control to buttons
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, containerise-app, deploy

iterating products selector panel
  CHANGELOG.md
  app/assets/main.css
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, containerise-app, deploy

Path conditions:
  black: any of: api/**/*.*
  build-app: any of: app/**/*.*
  package-app: any of: app/**/*.*
  containerise-app: any of: app/**/*.*
  containerise-api: any of: api/**/*.*
  deploy: any of: app/**/*.*, api/**/*.*
