Repository antarctica/sda-siis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, build-app, package-app, package-api, deploy

black:
  stage: üß™ test
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/api:latest
    entrypoint:
    - ''
  script:
  - black --check api/
  needs: []

build-app:
  stage: üèó build
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/app:latest
    entrypoint:
    - ''
  variables:
    SERVICE_API_ENDPOINT: http://10.70.1.145:32002/api
    SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
    SERVICE_API_OGC_ENDPOINT: http://10.70.1.145:32001/geoserver/ows
  ...

package-app:
  stage: üì¶ package
  image:
    name: docker:19.03-dind
    entrypoint:
    - ''
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  - cp -r ./app/dist/ ./app/support/docker-packaging/
  - cd app/support/docker-packaging/
  script:
  ...

package-api:
  stage: üì¶ package
  image:
    name: docker:19.03-dind
    entrypoint:
    - ''
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  - cp -r ./api/api/ ./api/support/docker-packaging/
  - cd api/support/docker-packaging/
  script:
  ...

deploy:
  stage: üöÄ deploy
  image:
    name: hashicorp/terraform:0.13.4
    entrypoint:
    - ''
  before_script:
  - cd provisioning/terraform
  - export TF_VAR_nomad_update_key=$CI_JOB_ID
  - export TF_VAR_nomad_aws_access_key_id=$NOMAD_AWS_ACCESS_KEY_ID
  ...

Adding minimal base map support in the app
  CHANGELOG.md
  app/components/App.vue
Due: build-app, package-app, deploy

Adding map layer attribution
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
Due: build-app, package-app, deploy

Tidying up
  CHANGELOG.md
  docker-compose.yml
Due: none

Resolve "API: Allow filtering for granules / layerdefs resource requests"
  api/api/granule.py
  api/api/product.py
  api/api/siis_api.yml
Due: black, package-api, deploy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Updating to VueLayers dev release
  app/components/AppMap.vue
  app/package.json
  app/yarn.lock
Due: build-app, package-app, deploy

Readding OSM basemap
  app/components/AppMap.vue
Due: build-app, package-app, deploy

Fixing base layers on projection change
  app/components/App.vue
Due: build-app, package-app, deploy

Fixing missing base layers for web mercator projection
  app/components/App.vue
Due: build-app, package-app, deploy

Disabling hot module reload in app
  CHANGELOG.md
  app/package.json
Due: build-app, package-app, deploy

Removing MVP maps
  docker-compose.yml
  mvp-maps/.babelrc
  mvp-maps/Dockerfile
  mvp-maps/index.html
  mvp-maps/index.js
  mvp-maps/package.json
Due: none

Adding the ability to remove granules from the map
  CHANGELOG.md
  app/components/App.vue
Due: build-app, package-app, deploy

Fixing deployment containers to use revised API endpoint
  .gitlab-ci.yml
Due: none

Tidying up
  CHANGELOG.md
  app/components/App.vue
Due: build-app, package-app, deploy

Adding minimal filtering support for north/south products
  CHANGELOG.md
  app/components/App.vue
Due: build-app, package-app, deploy

Adding temporal filtering for granules
  CHANGELOG.md
  app/components/App.vue
Due: build-app, package-app, deploy

Correctly distinguishing between product and layer
  app/components/App.vue
Due: build-app, package-app, deploy

Removing unused cruise/season settings
  CHANGELOG.md
  app/components/App.vue
Due: build-app, package-app, deploy

Adding minimal product legends
  CHANGELOG.md
  app/components/App.vue
Due: build-app, package-app, deploy

Adding minimal transparency control
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
Due: build-app, package-app, deploy

Tidying up
  app/components/App.vue
Due: build-app, package-app, deploy

Preparing for WMTS support
  app/components/App.vue
Due: build-app, package-app, deploy

Remapping resource attribute granule.uuid to granule.id #46
  api/api/models.py
Due: black, package-api, deploy

API: Set default sort order for Resource `granule`
  api/api/granule.py
  api/api/product.py
Due: black, package-api, deploy

Update changelog
  CHANGELOG.md
Due: none

API: Add layer style attribute to product resource #55
  CHANGELOG.md
  api/api/models.py
  api/api/siis_api.yml
Due: black, package-api, deploy

Updating app to only set GeoServer protocol, host and port
  .gitlab-ci.yml
  CHANGELOG.md
  app/components/App.vue
  docker-compose.yml
Due: build-app, package-app, deploy

Fixing granule endpoints
  app/components/App.vue
Due: build-app, package-app, deploy

Updating app to use consistent ID property
  app/components/App.vue
  app/components/AppMap.vue
Due: build-app, package-app, deploy

Adding instructions on updating integration environment data directory
  README.md
Due: none

Tidying up
  CHANGELOG.md
  README.md
Due: none

Adding minimal granule metadata
  CHANGELOG.md
  app/components/App.vue
Due: build-app, package-app, deploy

Refactoring base layers to prevent repetition
  app/components/App.vue
Due: build-app, package-app, deploy

Using consistent casing for OGC protocol names
  app/components/App.vue
Due: build-app, package-app, deploy

Adding WMTS support
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
Due: build-app, package-app, deploy

Fixing variable re-declaration issue
  app/components/App.vue
Due: build-app, package-app, deploy

Adding fullscreen map support
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, deploy

Path conditions:
  black: any of: api/**/*.*
  build-app: any of: app/**/*.*
  package-app: any of: app/**/*.*
  package-api: any of: api/**/*.*
  deploy: any of: app/**/*.*, api/**/*.*
