Repository antarctica/sda-siis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app, containerise-api

Path conditions:
  black: any of: api/**/*.*
  build-app-int: any of: app/**/*.*
  build-app-stage: any of: app/**/*.*
  build-app-prod: any of: app/**/*.*
  package-app-int: any of: app/**/*.*
  package-app-stage: any of: app/**/*.*
  package-app-prod: any of: app/**/*.*
  containerise-app: any of: app/**/*.*
  containerise-api: any of: api/**/*.*

fix layer machine opacity logic - ensure event is correctly processed into state.
  app_v2/src/components/LayerManager/machines/layers/layerMachine.ts
  app_v2/src/components/LayerManager/ui/LayerItem.tsx
Due: none

Add Select user interface
  app_v2/TODO.md
  app_v2/panda.config/semanticColors.ts
  app_v2/panda.config/textstyles.ts
  app_v2/panda.config/utilities/focusring.utility.ts
  app_v2/src/arcgis/hooks/useDrawSingleGraphic.tsx
  app_v2/src/components/Select/Select.tsx
  app_v2/src/components/Select/index.ts
  app_v2/src/components/ShipSensorInfo/PositionInfo.tsx
  app_v2/src/components/common/Button/buttonRecipe.ts
  app_v2/src/components/common/forms/Field/Field.tsx
  app_v2/src/components/common/forms/Field/styles.ts
  app_v2/src/components/common/forms/TextField/TextField.tsx
  app_v2/src/components/common/forms/TextField/index.ts
  app_v2/src/panels/Drawing/Drawing.tsx
Due: none

Add Single Date, Date Picker
  app_v2/package-lock.json
  app_v2/package.json
  app_v2/src/components/App/App.tsx
  app_v2/src/components/Select/Select.tsx
  app_v2/src/components/common/Button/buttonRecipe.ts
  app_v2/src/components/common/forms/DatePicker/Calendar.tsx
  app_v2/src/components/common/forms/DatePicker/DateField.tsx
  app_v2/src/components/common/forms/DatePicker/DatePicker.tsx
  app_v2/src/components/common/forms/DatePicker/index.ts
  app_v2/src/components/common/forms/Field/styles.ts
  app_v2/src/panels/Drawing/Drawing.tsx
Due: none

tweak ship sensor panel to have accent border
  app_v2/src/components/ShipSensorInfo/SensorInfoPanel.tsx
  app_v2/src/components/ShipSensorInfo/ShipSensorInfo.tsx
Due: none

Ensure that Attribution is included
  app_v2/src/components/Map/Map.tsx
Due: none

Add DateRange Picker
  app_v2/src/components/common/forms/DatePicker/Calendar.tsx
  app_v2/src/components/common/forms/DatePicker/DatePicker.tsx
  app_v2/src/components/common/forms/DatePicker/DateRangePicker.tsx
  app_v2/src/components/common/forms/DatePicker/RangeCalendar.tsx
  app_v2/src/components/common/forms/DatePicker/index.ts
  app_v2/src/panels/Drawing/Drawing.tsx
Due: none

add initial layer ordering support
  app_v2/src/arcgis/hooks/index.tsx
  app_v2/src/components/App/App.tsx
  app_v2/src/components/Header/data/ProjectionData.tsx
  app_v2/src/components/LayerManager/LayerManagerProvider.tsx
  app_v2/src/components/LayerManager/hooks/useAddLayer.tsx
  app_v2/src/components/LayerManager/machines/layerManagerMachine.ts
  app_v2/src/components/LayerManager/machines/layers/layerGroupMachine.ts
  app_v2/src/components/LayerManager/machines/types.ts
  app_v2/src/components/LayerManager/machines/utils.ts
  app_v2/src/components/LayerManager/ui/LayerGroupItem.tsx
  app_v2/src/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/utils.ts
  app_v2/src/components/common/forms/Slider/Slider.tsx
  app_v2/src/config/constants.ts
  app_v2/src/hooks/useMap.tsx
  app_v2/src/panels/Drawing/Drawing.tsx
  app_v2/src/types/index.ts
Due: none

Add all layers from the products endpoint by default
  app_v2/TODO.md
  app_v2/panda.config/semanticColors.ts
  app_v2/src/components/App/App.tsx
  app_v2/src/components/LayerManager/LayerManagerProvider.tsx
  app_v2/src/components/LayerManager/hooks/useAddLayer.tsx
  app_v2/src/components/LayerManager/ui/LayerGroupItem.tsx
  app_v2/src/components/LayerManager/ui/LayerItem.tsx
  app_v2/src/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/components/LayerStatus/LayerStatus.tsx
  app_v2/src/components/LayerStatus/index.ts
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/utils.ts
  app_v2/src/components/Panel/panelRecipe.ts
  app_v2/src/components/ShipSensorInfo/PositionInfo.tsx
  app_v2/src/components/ShipSensorInfo/ShipInfo.tsx
  app_v2/src/components/ShipSensorInfo/ShipSensorStatusBadge.tsx
  app_v2/src/components/Sidebar/Sidebar.tsx
  app_v2/src/components/Theme/useTheme.tsx
  app_v2/src/components/common/Badge/Badge.tsx
  app_v2/src/components/common/forms/Slider/Slider.tsx
  app_v2/src/panels/Drawing/Drawing.tsx
  app_v2/src/types/index.ts
Due: none

disable opacity sliders for layers not visible in the map.
  app_v2/src/components/LayerManager/ui/LayerItem.tsx
Due: none

add initial logic for timeaware layers
  app_v2/TODO.md
  app_v2/src/api/api.tsx
  app_v2/src/api/useProducts.tsx
  app_v2/src/components/LayerManager/machines/layerManagerMachine.ts
  app_v2/src/components/LayerManager/machines/types.ts
  app_v2/src/components/LayerManager/machines/utils.ts
  app_v2/src/components/LayerManager/ui/LayerDatePicker.tsx
  app_v2/src/components/LayerManager/ui/LayerGroupItem.tsx
  app_v2/src/components/LayerManager/ui/LayerItem.tsx
  app_v2/src/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/useMapInitialisation.tsx
  app_v2/src/components/Map/utils.ts
  app_v2/src/components/common/forms/DatePicker/Calendar.tsx
  app_v2/src/components/common/forms/DatePicker/DatePicker.tsx
  app_v2/src/components/common/forms/DatePicker/DateRangePicker.tsx
  app_v2/src/types/index.ts
  app_v2/src/utils/dateUtils.ts
Due: none

Add functionality for changing timeinfo for layers
  app_v2/src/components/Header/data/TemporalData.tsx
  app_v2/src/components/LayerManager/LayerManagerProvider.tsx
  app_v2/src/components/LayerManager/machines/layerManagerMachine.ts
  app_v2/src/components/LayerManager/machines/types.ts
  app_v2/src/components/LayerManager/ui/LayerDatePicker.tsx
  app_v2/src/components/LayerManager/ui/LayerItem.tsx
  app_v2/src/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/synchronisation/SynchroniseLayerTheme.tsx
  app_v2/src/components/Map/useMapInitialisation.tsx
  app_v2/src/components/Map/utils.ts
  app_v2/src/components/Theme/useTheme.tsx
  app_v2/src/components/common/forms/DatePicker/DatePicker.tsx
  app_v2/src/components/common/forms/DatePicker/DateRangePicker.tsx
  app_v2/src/hooks/useTime.tsx
  app_v2/src/utils/dateUtils.ts
  app_v2/src/utils/layerUtils.ts
Due: none

add logic to generate static md openapi docs
  app_v2/package-lock.json
  app_v2/package.json
  docs/api.md
Due: none

Add Map Rotation control
  app_v2/package-lock.json
  app_v2/package.json
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/map-controls/MapRotationControl/MapRotationControl.tsx
  app_v2/src/components/Map/map-controls/MapRotationControl/index.ts
  app_v2/src/components/Map/map-controls/ZoomControl/ZoomControl.tsx
  app_v2/src/components/ShipPositionMapLayer/useShipLocationGraphic.tsx
  app_v2/src/components/ShipPositionMapLayer/utils.ts
  app_v2/src/components/common/Button/MapButton.tsx
Due: none

graphicsLayer graticule implementation
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/layers/GraticuleLayer/GraticuleLayer.tsx
  app_v2/src/components/Map/layers/GraticuleLayer/GraticuleLayerClass.ts
  app_v2/src/components/Map/layers/GraticuleLayer/index.ts
  app_v2/src/components/Map/layers/ShipPositionLayer/ShipPositionLayer.tsx
  app_v2/src/components/Map/layers/ShipPositionLayer/index.ts
  app_v2/src/components/Map/layers/ShipPositionLayer/useShipBufferGraphic.tsx
  app_v2/src/components/Map/layers/ShipPositionLayer/useShipLocationGraphic.tsx
  app_v2/src/components/Map/layers/ShipPositionLayer/utils.ts
  app_v2/src/components/ShipPositionMapLayer/index.ts
  app_v2/tsconfig.json
  app_v2/tsconfig.node.json
  app_v2/vite.config.ts
Due: none

fix graticule generation
  app_v2/src/components/Map/layers/GraticuleLayer/GraticuleLayerClass.ts
Due: none

new iteration of the graticule - labelled
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/layers/GraticuleLayer/LabelledGraticuleLayer.tsx
  app_v2/src/components/Map/layers/GraticuleLayer/LabelledGraticuleLayerClass.ts
  app_v2/src/components/Map/layers/ShipPositionLayer/utils.ts
Due: none

improve tooltip design
  app_v2/src/components/common/Tooltip/Tooltip.tsx
Due: none

tweak styles and add types - temporary before later tweaks
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/layers/GraticuleLayer/LabelledGraticuleLayerClass.ts
Due: none

request recent routes on mounting component
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

get recent routes on mount; show routes in table
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

use named points for favourites
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Add in new imageryfootprintclass in order to handle data layers with ranges of available granules
  api/api/models.py
  api/api/siis_api.yml
  app_v2/eslint.config.mjs
  app_v2/package-lock.json
  app_v2/package.json
  app_v2/panda.config.ts
  app_v2/src/components/App/App.tsx
  app_v2/src/components/LayerManager/LayerManagerProvider.tsx
  app_v2/src/components/Map/layers/GraticuleLayer/GraticuleLayerClass.ts
  app_v2/src/components/Map/layers/GraticuleLayer/LabelledGraticuleLayerClass.ts
  app_v2/src/components/Map/layers/ImageryFootprintLayer/ImageryFootprintLayerClass.ts
  app_v2/src/components/Map/layers/ShipPositionLayer/ShipPositionLayer.tsx
  app_v2/src/components/Map/useMapInitialisation.tsx
  app_v2/src/components/Map/utils.ts
  app_v2/src/components/common/Button/buttonRecipe.ts
  app_v2/src/config/arcade/arcadeAntarcticHeading.js
  app_v2/src/main.tsx
  app_v2/src/routeTree.gen.ts
  app_v2/src/types/api.d.ts
  app_v2/src/utils/throttle.ts
  docs/api.md
Due: black, containerise-api

update favourite locations
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

add group to in layer management to handle MultipleTimeSliceCollections.
  api/api/models.py
  api/api/siis_api.yml
  app_v2/TODO.md
  app_v2/panda.config.ts
  app_v2/src/components/LayerManager/LayerManagerProvider.tsx
  app_v2/src/components/LayerManager/hooks/selectors.tsx
  app_v2/src/components/LayerManager/ui/LayerGroupItem.tsx
  app_v2/src/components/LayerManager/ui/LayerItem.tsx
  app_v2/src/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/components/LayerStatus/LayerStatus.tsx
  app_v2/src/components/Map/layers/ImageryFootprintLayer/ImageryFootprintLayerClass.ts
  app_v2/src/components/Map/layers/ShipPositionLayer/ShipPositionLayer.tsx
  app_v2/src/components/Map/synchronisation/SynchroniseLayerTheme.tsx
  app_v2/src/components/Map/useMapInitialisation.tsx
  app_v2/src/components/Map/utils.ts
  app_v2/src/components/Panel/panelRecipe.ts
  app_v2/src/types/api.d.ts
  app_v2/src/types/index.ts
  docs/api.md
Due: black, containerise-api

make routes available in map; use point naming throughout; pr panel layout; service status message
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

use env var for endpoint
  app/components/AppPolarRouteControls.vue
  docker-compose.yml
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

use more response metadata; include route ids
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

show routes on map; hide pr panel with others
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

add daterange picker functionality for imagery footprint layers
  api/api/granule.py
  api/api/models.py
  api/api/product.py
  api/api/siis_api.yml
  app_v2/src/api/api.tsx
  app_v2/src/api/useProducts.tsx
  app_v2/src/components/LayerManager/LayerManagerProvider.tsx
  app_v2/src/components/LayerManager/hooks/selectors.tsx
  app_v2/src/components/LayerManager/hooks/useEnabledChildCount.ts
  app_v2/src/components/LayerManager/machines/layers/layerGroupMachine.ts
  app_v2/src/components/LayerManager/machines/utils.ts
  app_v2/src/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/components/LayerManager/ui/layer/LayerDatePicker.tsx
  app_v2/src/components/LayerManager/ui/layer/LayerDateRangePicker.tsx
  app_v2/src/components/LayerManager/ui/layer/LayerItem.tsx
  app_v2/src/components/LayerManager/ui/layerGroup/LayerGroupItem.tsx
  app_v2/src/components/LayerManager/ui/layerGroup/layerGroupContent.tsx
  app_v2/src/components/Map/layers/ImageryFootprintLayer/ImageryFootprintLayerClass.ts
  app_v2/src/components/Map/useMapInitialisation.tsx
  app_v2/src/components/Map/utils.ts
  app_v2/src/components/common/forms/Slider/Slider.tsx
  app_v2/src/types/api.d.ts
  docs/api.md
Due: black, containerise-api

fix time zone
  app_v2/src/components/LayerManager/ui/layer/LayerItem.tsx
Due: none

refine user interface for layer control
  app_v2/panda.config/siisColors.ts
  app_v2/src/components/LayerManager/LayerManagerProvider.tsx
  app_v2/src/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/components/LayerManager/ui/layer/LayerItem.tsx
  app_v2/src/components/LayerManager/ui/layerGroup/LayerGroupItem.tsx
  app_v2/src/components/LayerManager/ui/layerGroup/layerGroupContent.tsx
  app_v2/src/components/Map/Map.tsx
  app_v2/src/components/Map/layers/ImageryFootprintLayer/ImageryFootprintLayerClass.ts
  app_v2/src/components/Map/layers/ShipPositionLayer/ShipPositionLayer.tsx
  app_v2/src/components/Map/useMapInitialisation.tsx
  app_v2/src/components/Map/utils.ts
  app_v2/src/components/common/Button/buttonRecipe.ts
  app_v2/src/components/common/Typography/Typography.tsx
  app_v2/src/config/constants.ts
  app_v2/src/utils/dateUtils.ts
Due: none

fix layer reordering behaviour. Managed layers will be correctly ordered whilst graphics exist outside of the layer manager.
  app_v2/TODO.md
  app_v2/src/components/LayerManager/LayerManagerProvider.tsx
  app_v2/src/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/components/LayerManager/ui/layer/LayerItem.tsx
  app_v2/src/components/LayerManager/ui/layerGroup/LayerGroupItem.tsx
  app_v2/src/components/Map/useMapInitialisation.tsx
  app_v2/src/components/common/Button/ToggleButton.tsx
  app_v2/src/components/common/Button/buttonRecipe.ts
  app_v2/src/components/common/forms/Field/styles.ts
Due: none

hide polarroute panel by default
  app/components/App.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

fix bug where only one route at a time is shown
  app/components/AppMap.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

add start and end dot markers to routes
  app/components/AppMap.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

add table text and tooltips showing time and fuel info
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

remove some logging statements
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

catch routes in list that do not yet have json property
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

show both time and fuel-optimised routes
  app/components/AppMap.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

add optional point name field
  app/components/AppPolarRouteControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app
