Repository antarctica/sda-siis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, build-app, package-app, containerise-app, containerise-api, deploy

Path conditions:
  black: any of: api/**/*.*
  build-app: any of: app/**/*.*
  package-app: any of: app/**/*.*
  containerise-app: any of: app/**/*.*
  containerise-api: any of: api/**/*.*
  deploy: any of: app/**/*.*, api/**/*.*

Iterating sensor information UI
  CHANGELOG.md
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Tidying up Docker Compose config
  CHANGELOG.md
  docker-compose.yml
Due: none

Relicensing project as MIT
  CHANGELOG.md
  LICENSE.md
  README.md
Due: none

Correcting data syncing instructions
  CHANGELOG.md
  README.md
Due: none

Fixing rotation reset using custom reset control
  app/components/AppMap.vue
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

General UI revision
  app/components/App.vue
  app/components/AppGranuleMetadata.vue
  app/components/AppMap.vue
  app/components/AppMapControls.vue
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Adding toggle buttons and toggle button groups
  CHANGELOG.md
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Tidying up UI
  app/assets/main.css
  app/components/App.vue
  app/components/AppGranuleMetadata.vue
  app/components/AppMap.vue
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, containerise-app, deploy

Small changes/fixes
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Adding feature count and reset to measure tool
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Adding length measuring to measure tool
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Tidying up
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Adding controls and map layers for ship position
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppMapControls.vue
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Adding backgrounds to app panels
  CHANGELOG.md
  app/assets/main.css
  app/components/AppGranuleMetadata.vue
  app/components/AppProductSwitcher.vue
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Applying transparent background to UI panels
  app/assets/main.css
Due: build-app, package-app, containerise-app, deploy

Fixing README
  README.md
Due: none

dding minimal route export
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Adding route export
  README.md
  api/Dockerfile
  api/api/route.py
  api/api/siis_api.yml
  api/requirements.txt
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppMapControls.vue
Due: black, build-app, package-app, containerise-app, containerise-api, deploy

Updating project status
  README.md
Due: none

Fixing black formatting
  api/api/route.py
Due: black, containerise-api, deploy

Adding control titles
  CHANGELOG.md
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Fixing style references
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Updating changelog
  CHANGELOG.md
Due: none

Added /granula/{uuid}/request_highres
  api/api/granule.py
  api/api/models.py
  api/api/siis_api.yml
Due: black, containerise-api, deploy

Adding initial support for importing a reference route
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Adding logic to reset/clear imported reference route
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Fixing VueLayers deprecation
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Fixing typo
  README.md
Due: none

Very initial implementation of high resolution granules
  CHANGELOG.md
  app/assets/main.css
  app/components/App.vue
  app/components/AppGranuleMetadata.vue
  app/components/AppMap.vue
  app/components/AppProduct.vue
Due: build-app, package-app, containerise-app, deploy

Improving rsync instructions
  CHANGELOG.md
  README.md
Due: none

Fixing MIT licence
  CHANGELOG.md
  LICENSE.md
  README.md
Due: none

Adding missing Docker Compose changes
  docker-compose.yml
Due: none

Improve error reporting
  CHANGELOG.md
  app/components/AppMap.vue
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Improving layout for products selector
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, containerise-app, deploy

Various styling tweaks
  CHANGELOG.md
  app/assets/main.css
  app/components/AppGranuleMetadata.vue
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Fixing custom lat/lon reporting
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Partially resolving timestamp resolution for selecting S1 granules
  CHANGELOG.md
  app/components/AppProduct.vue
Due: build-app, package-app, containerise-app, deploy

Improving measurement output
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Adding initial AI Route Planner import
  CHANGELOG.md
  app/components/AppMapControls.vue
Due: build-app, package-app, containerise-app, deploy

Fixing change log
  CHANGELOG.md
Due: none
