Repository antarctica/sda-siis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app, containerise-api

Path conditions:
  black: any of: api/**/*.*
  build-app-int: any of: app/**/*.*
  build-app-stage: any of: app/**/*.*
  build-app-prod: any of: app/**/*.*
  package-app-int: any of: app/**/*.*
  package-app-stage: any of: app/**/*.*
  package-app-prod: any of: app/**/*.*
  containerise-app: any of: app/**/*.*
  containerise-api: any of: api/**/*.*

Changing active product selection
  CHANGELOG.md
  app/components/AppProduct.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Allowing multiple footprints to be selected
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Fixing graticule being selectable
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Tidying up
  CHANGELOG.md
Due: none

Fixing depth sensor availability
  app/components/AppSensorMetadata.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Fixing sensor statues not updating
  CHANGELOG.md
  app/components/AppSensorMetadata.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Adding exponential backoff for sensor data requests
  CHANGELOG.md
  app/components/AppSensorMetadata.vue
  app/package.json
  app/yarn.lock
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Switching fullscreen control implementation
  CHANGELOG.md
  app/components/AppMap.vue
  app/components/AppMapControls.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Limiting footprints to the active product
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Fixing orphaned fullscreen control
  app/components/AppMap.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Updating rsync commands
  CHANGELOG.md
  README.md
Due: none

Minimal staging environment information
  CHANGELOG.md
  README.md
Due: none

Fixing bug when changing filter selection
  app/components/AppProduct.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Switching to per-project time filters
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
  app/components/AppProductTimeFilter.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Updating map component to use per-product time filters
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Tidying up
  app/components/AppMap.vue
  app/components/AppProduct.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Adding favicon
  app/assets/favicon.ico
  app/index.html
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Updating change log
  CHANGELOG.md
Due: none

Setting bounds on date controls to available granules
  app/components/AppProduct.vue
  app/components/AppProductTimeFilter.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

removing default button from time controls
  app/components/AppProductTimeFilter.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Hiding time controls for single granule selection products
  app/components/AppProductTimeFilter.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Preparing for release
  CHANGELOG.md
Due: none

Fixing temporal extent for products with no granules
  CHANGELOG.md
  app/components/AppProduct.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Removing hard coded base map layer
  CHANGELOG.md
  app/components/AppMap.vue
  app/components/AppProductSwitcher.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Fixing multi-granule selections
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Fixing time filter selection changes for multiple granule selection products
  app/components/AppProduct.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Fixing interaction between time and date filters
  app/components/AppProduct.vue
  app/components/AppProductTimeFilter.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Fixing CQL syntax for date filtering
  app/components/AppMap.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Adjusting UI layout for product selector and granules
  CHANGELOG.md
  app/components/App.vue
  app/components/AppGranuleMetadata.vue
  app/components/AppProductSwitcher.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Adding support for S3 granules
  app/components/AppProduct.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Fixing footprint selection exclusivity
  app/components/AppMap.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Increasing stroke width for footprints
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Updating documentation
  README.md
Due: none

Changed property names
  api/api/models.py
Due: black, containerise-api

Updating app to use un-prefixed OGC endpoints
  CHANGELOG.md
  app/components/AppProduct.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Add product schema updates to API. z-index, etc.
  api/api/models.py
  api/api/siis_api.yml
Due: black, containerise-api

Setting Z index value from the API
  CHANGELOG.md
  app/components/AppMap.vue
  app/components/AppProduct.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app

Set default opacity from the API
  CHANGELOG.md
  app/components/AppProduct.vue
Due: build-app-int, build-app-stage, build-app-prod, package-app-int, package-app-stage, package-app-prod, containerise-app
