Repository antarctica/sda-siis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, build-app, package-app, containerise-app, containerise-api, deploy

black:
  stage: üß™ test
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/api:latest
    entrypoint:
    - ''
  script:
  - black --check api/
  needs: []

build-app:
  stage: üèó build
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/app:latest
    entrypoint:
    - ''
  variables:
    SERVICE_API_ENDPOINT: http://10.70.1.145:32002
    SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
    SERVICE_API_OGC_ENDPOINT: http://10.70.1.145:32001
  before_script:
  - cd app
  ...

package-app:
  stage: üì¶ package
  image:
    name: alpine:latest
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache zip
  - mkdir -p ./app/dist-pkgs/
  - cd ./app/dist/
  script:
  - zip ../dist-pkgs/app.zip *
  - zip ../dist-pkgs/app-no-src-maps.zip * -x '*.map*'
  artifacts:
    paths:
    - app/dist-pkgs
  ...

containerise-app:
  stage: üê≥ containerise
  image:
    name: docker:19.03-dind
    entrypoint:
    - ''
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  - cp -r ./app/dist/ ./app/support/docker-packaging/
  - cd app/support/docker-packaging/
  script:
  ...

containerise-api:
  stage: üê≥ containerise
  image:
    name: docker:19.03-dind
    entrypoint:
    - ''
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  - cp -r ./api/api/ ./api/support/docker-packaging/
  - cd api/support/docker-packaging/
  script:
  ...

deploy:
  stage: üöÄ deploy
  image:
    name: hashicorp/terraform:0.13.4
    entrypoint:
    - ''
  before_script:
  - cd provisioning/terraform
  - export TF_VAR_nomad_update_key=$CI_JOB_ID
  - export TF_VAR_nomad_aws_access_key_id=$NOMAD_AWS_ACCESS_KEY_ID
  ...

Switching to WFS based ship track layer
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Re-enable raw granule properties
  CHANGELOG.md
  app/components/AppGranuleMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Minimal time filter support for footprints
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, containerise-app, deploy

Updating project dates
  LICENSE.md
  README.md
Due: none

Preparing for pre-release
  CHANGELOG.md
Due: none

Fixing granule linting
  CHANGELOG.md
  api/api/granule.py
Due: black, containerise-api, deploy

Removing defunct integration environment
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  provisioning/terraform/nomad/siis-integration.hcl.tmpl
  provisioning/terraform/terraform.tf
Due: none

removing Terraform
  .gitignore
  CHANGELOG.md
  README.md
  provisioning/terraform/docker-compose.yml
  provisioning/terraform/iam/policies/inline/siis-project-samples-bucket.json
  provisioning/terraform/iam/policies/inline/siis-terraform-remote-state.json
  provisioning/terraform/terraform.tf
Due: none

Switching to local base map layer
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Updating sensor component update frequency
  CHANGELOG.md
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Making product legend collapsible
  CHANGELOG.md
  app/components/AppGranuleMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Disabling most user facing alerts/errors
  CHANGELOG.md
  app/components/AppGranuleMetadata.vue
  app/components/AppMap.vue
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Streamlining CI/CD
  .gitlab-ci.yml
  CHANGELOG.md
Due: none

Fixing projecting map centre prop
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Tweaking CI rules
  .gitlab-ci.yml
Due: none

Correcting drawn feature selection
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Fixing removing orphaned granules
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Fixing deprecation
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Adding basic reactivity for time filter and products
  CHANGELOG.md
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, containerise-app, deploy

Adding feedback to time filter button choice
  CHANGELOG.md
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, containerise-app, deploy

Preparing for release
  CHANGELOG.md
Due: none

Adding z-indexes to other map components
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Fixing inconsistency with depth sensor variable
  CHANGELOG.md
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Adding contrast to app map measures
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Changing granule selection style
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Fixing deprecations
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Updating change log
  CHANGELOG.md
Due: none

Adding bounds to clock in sensor component
  CHANGELOG.md
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Fixing logic to select initial granules in products
  app/components/AppProduct.vue
Due: build-app, package-app, containerise-app, deploy

Adding warning text for products without matching granules
  CHANGELOG.md
  app/components/AppGranuleMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Reversing changes to datetimes in footprint requests
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Adding hard-coded z-indexes for products
  CHANGELOG.md
  app/components/AppMap.vue
  app/components/AppProduct.vue
Due: build-app, package-app, containerise-app, deploy

Refactoring measure tool to update as feature is drawn
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Moving granules metadata under metadata
  CHANGELOG.md
  app/components/App.vue
Due: build-app, package-app, containerise-app, deploy

Fixing grid layout
  app/assets/main.css
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Disabling granule/footprint selections when measure tool is active
  CHANGELOG.md
  app/components/AppMap.vue
Due: build-app, package-app, containerise-app, deploy

Tidying up
  CHANGELOG.md
  app/components/AppGranuleMetadata.vue
Due: build-app, package-app, containerise-app, deploy

Updated with Andreas's changes
  api/api/models.py
  api/api/product.py
Due: black, containerise-api, deploy

Path conditions:
  black: any of: api/**/*.*
  build-app: any of: app/**/*.*
  package-app: any of: app/**/*.*
  containerise-app: any of: app/**/*.*
  containerise-api: any of: api/**/*.*
  deploy: any of: app/**/*.*, api/**/*.*
