Repository antarctica/sda-siis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, build-app-stage, build-app-prod, build-app-v2-stage, build-app-v2-prod, package-app-stage, package-app-prod, package-app-v2-stage, package-app-v2-prod

black:
  stage: üß™ test
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/api:latest
    entrypoint:
    - ''
  script:
  - black --check api/
  needs: []

build-app-stage:
  stage: üèó build
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/app:latest
    entrypoint:
    - ''
  variables:
    SERVICE_API_ENDPOINT: https://api.siis.sda-stage.bas.ac.uk
    SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
  ...

build-app-prod:
  stage: üèó build
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/app:latest
    entrypoint:
    - ''
  variables:
    SERVICE_API_ENDPOINT: https://api.siis.sda-stage.bas.ac.uk
    SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
  ...

build-app-v2-stage:
  stage: üèó build
  image: node:20-alpine
  variables:
    VITE_SERVICE_API_ENDPOINT: https://api.siis.sda-stage.bas.ac.uk
    VITE_SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
    VITE_SERVICE_API_OGC_ENDPOINT: https://geoserver.siis.sda-stage.bas.ac.uk
  before_script:
  - cd app_v2
  - npm install
  ...

build-app-v2-prod:
  stage: üèó build
  image: node:20-alpine
  variables:
    VITE_SERVICE_API_ENDPOINT: https://api.siis.sda-stage.bas.ac.uk
    VITE_SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
    VITE_SERVICE_API_OGC_ENDPOINT: https://geoserver.siis.sda-stage.bas.ac.uk
  before_script:
  - cd app_v2
  - npm install
  ...

package-app-stage:
  stage: üì¶ package
  image:
    name: alpine:latest
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache zip
  - mkdir -p ./app/dist-pkgs/
  - cd ./app/dist/
  artifacts:
    paths:
    - app/dist-pkgs
    expire_in: 1 month
  script:
  - zip ../dist-pkgs/app-stage.zip *
  needs:
  - job: build-app-stage
  ...

package-app-prod:
  stage: üì¶ package
  image:
    name: alpine:latest
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache zip
  - mkdir -p ./app/dist-pkgs/
  - cd ./app/dist/
  artifacts:
    paths:
    - app/dist-pkgs
    expire_in: 1 month
  script:
  - zip ../dist-pkgs/app-prod.zip *
  needs:
  - job: build-app-prod
  ...

package-app-v2-stage:
  stage: üì¶ package
  image:
    name: alpine:latest
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache zip
  - mkdir -p ./app_v2/dist-pkgs/
  - cd ./app_v2/dist/
  artifacts:
    paths:
    - app_v2/dist-pkgs
    expire_in: 1 month
  script:
  - zip -r ../dist-pkgs/app-v2-stage.zip .
  needs:
  ...

package-app-v2-prod:
  stage: üì¶ package
  image:
    name: alpine:latest
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache zip
  - mkdir -p ./app_v2/dist-pkgs/
  - cd ./app_v2/dist/
  artifacts:
    paths:
    - app_v2/dist-pkgs
    expire_in: 1 month
  script:
  - zip -r ../dist-pkgs/app-v2-prod.zip .
  needs:
  ...

add support for setting colors on imagery granule footprints. Include the footprints in the legend.
  api/api/models.py
  api/api/siis_api.yml
  app_v2/TODO.md
  app_v2/src/components/App/App.tsx
  app_v2/src/features/siisMap/layers/ImageryFootprintLayer/ImageryFootprintLayerClass.ts
  app_v2/src/features/siisMap/useMapInitialisation.tsx
  app_v2/src/features/siisMap/utils.ts
  app_v2/src/types/api.d.ts
  app_v2/src/utils/esriLogicOveride.ts
  docs/api.md
Due: black, build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Refine styles within the application and set up capability to link out to high resolution granules.
  app_v2/TODO.md
  app_v2/panda.config.ts
  app_v2/panda.config/recipes/button.recipe.ts
  app_v2/panda.config/tokens/basColors.ts
  app_v2/panda.config/tokens/semanticColors.ts
  app_v2/panda.config/tokens/siisColors.ts
  app_v2/public/svg/sprites.svg
  app_v2/src/components/Header/Header.tsx
  app_v2/src/components/Header/actions/GlobalSettings/GlobalSettingsMenu.tsx
  app_v2/src/components/ShipSensorInfo/ShipSensorInfo.tsx
  app_v2/src/components/Sidebar/actions/SidebarButton.tsx
  app_v2/src/components/common/Badge/Badge.tsx
  app_v2/src/components/common/Button/IconButton.tsx
  app_v2/src/components/common/Button/LinkButton.tsx
  app_v2/src/components/common/Button/MapButton.tsx
  app_v2/src/components/common/Button/ToggleButton.tsx
  app_v2/src/components/common/Button/index.ts
  app_v2/src/components/common/PulsatingDot/PulsatingDot.tsx
  app_v2/src/components/common/Select/Select.tsx
  app_v2/src/components/common/SvgIcon/SvgIcon.tsx
  app_v2/src/components/common/forms/DatePicker/RangeCalendar.tsx
  app_v2/src/features/layersManagement/components/LayerManager/LayerManagerProvider.tsx
  app_v2/src/features/layersManagement/components/LayerManager/hooks/selectors.tsx
  app_v2/src/features/layersManagement/components/LayerManager/ui/layer/LayerItem.tsx
  app_v2/src/features/layersManagement/components/LayerManager/ui/layerGroup/layerGroupContent.tsx
  app_v2/src/features/navigationRoutes/RoutesPanel.tsx
  app_v2/src/features/navigationRoutes/components/RouteActionsMenu.tsx
  app_v2/src/features/navigationRoutes/components/RouteDetails.tsx
  app_v2/src/features/siisMap/map-controls/HomeControl/HomeControl.tsx
  app_v2/src/features/siisMap/map-controls/MeasurePolylineControl/Controller.tsx
  app_v2/src/features/siisMap/map-controls/ZoomControl/ZoomControl.tsx
  app_v2/src/features/siisMap/useMapInitialisation.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Update SQLAlchemy configuration for connection pooling
  api/api/config.py
Due: black

Add capability to view external high resolution imagery from properties of a granule.
  app_v2/TODO.md
  app_v2/src/components/WorkflowStepper/WorkflowStepper.tsx
  app_v2/src/components/common/Button/LinkButton.tsx
  app_v2/src/components/common/Typography/typographyRecipes.ts
  app_v2/src/features/layersManagement/components/LayerManager/LayerManagerProvider.tsx
  app_v2/src/features/layersManagement/components/LayerManager/hooks/selectors.tsx
  app_v2/src/features/layersManagement/components/LayerManager/ui/LayerManager.tsx
  app_v2/src/features/layersManagement/components/LayerManager/ui/layer/LayerItem.tsx
  app_v2/src/features/siisMap/useMapInitialisation.tsx
  app_v2/src/features/siisMap/utils.ts
  app_v2/src/utils/dateUtils.ts
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

better spacing for layer panel
  app_v2/src/features/layersManagement/components/LayerManager/ui/LayerManager.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

update build config for polar route server.
  .gitlab-ci.yml
Due: none

update api enums to correctly reflect the current db
  api/api/models.py
  api/api/siis_api.yml
  app_v2/src/features/layersManagement/components/LayerManager/ui/layer/LayerItem.tsx
  app_v2/src/features/layersManagement/components/LayerStatus/LayerStatus.tsx
  app_v2/src/features/siisMap/useMapInitialisation.tsx
  app_v2/src/types/api.d.ts
  docs/api.md
Due: black, build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Path conditions:
  black: any of: api/**/*.*
  build-app-stage: any of: app/**/*.*
  build-app-prod: any of: app/**/*.*
  build-app-v2-stage: any of: app_v2/**/*.*
  build-app-v2-prod: any of: app_v2/**/*.*
  package-app-stage: any of: app/**/*.*
  package-app-prod: any of: app/**/*.*
  package-app-v2-stage: any of: app_v2/**/*.*
  package-app-v2-prod: any of: app_v2/**/*.*
