Repository antarctica/sda-siis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, build-app, package-app, package-api, deploy

black:
  stage: üß™ test
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/api:latest
    entrypoint:
    - ''
  script:
  - black --check api/
  needs: []

build-app:
  stage: üèó build
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/app:latest
    entrypoint:
    - ''
  variables:
    SERVICE_API_ENDPOINT: http://10.70.1.145:32002/api
    SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
    SERVICE_API_OGC_ENDPOINT: http://10.70.1.145:32001/geoserver/ows
  ...

package-app:
  stage: üì¶ package
  image:
    name: docker:19.03-dind
    entrypoint:
    - ''
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  - cp -r ./app/dist/ ./app/support/docker-packaging/
  - cd app/support/docker-packaging/
  script:
  ...

package-api:
  stage: üì¶ package
  image:
    name: docker:19.03-dind
    entrypoint:
    - ''
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  - cp -r ./api/api/ ./api/support/docker-packaging/
  - cd api/support/docker-packaging/
  script:
  ...

deploy:
  stage: üöÄ deploy
  image:
    name: hashicorp/terraform:0.13.4
    entrypoint:
    - ''
  before_script:
  - cd provisioning/terraform
  - export TF_VAR_nomad_update_key=$CI_JOB_ID
  - export TF_VAR_nomad_aws_access_key_id=$NOMAD_AWS_ACCESS_KEY_ID
  ...

Adding mouse map position control
  app/components/App.vue
  app/components/AppMap.vue
Due: build-app, package-app, deploy

Adding configurable units for scale bar control
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
Due: build-app, package-app, deploy

Tidying up
  CHANGELOG.md
  app/components/App.vue
  app/components/AppMap.vue
Due: build-app, package-app, deploy

testing app package CD
  .gitlab-ci.yml
Due: none

Fixing upload paths
  .gitlab-ci.yml
Due: none

debugging
  .gitlab-ci.yml
Due: none

Fixing changing CI job variable
  .gitlab-ci.yml
Due: none

debugging version
  .gitlab-ci.yml
Due: none

Showing errors
  .gitlab-ci.yml
Due: none

fixing version numbers
  .gitlab-ci.yml
Due: none

Adding docs
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
Due: none

Fix
  .gitlab-ci.yml
Due: none

Adding deployment package for frontend application
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
Due: none

Fixing active granules computed property
  CHANGELOG.md
  app/components/App.vue
Due: build-app, package-app, deploy

Encode arrays as list in /products endpoint #53
  CHANGELOG.md
  api/api/models.py
  api/api/siis_api.yml
Due: black, package-api, deploy

Fixing static formats used for WMTS layers
  app/components/App.vue
  app/components/AppMap.vue
Due: build-app, package-app, deploy

Tidying up
  app/components/AppMap.vue
Due: build-app, package-app, deploy

Adding new UI skeleton
  README.md
  app/assets/main.css
  app/components/App2.vue
  app/index2.html
  app/index2.js
  app/package.json
  docker-compose.yml
Due: build-app, package-app, deploy

Initial work on new components and passing events
  app/components/App2.vue
  app/components/AppGranuleMetadata.vue
  app/components/AppMap2.vue
  app/components/AppMapControls.vue
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, deploy

Adding support for real products
  app/components/App2.vue
  app/components/AppGranuleMetadata.vue
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, deploy

Fixing initial product selection
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, deploy

Adding additional product properties
  app/components/App2.vue
  app/components/AppGranuleMetadata.vue
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, deploy

Linking active products to map panel
  app/components/App2.vue
  app/components/AppMap2.vue
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, deploy

API updates / default filtering / new resource attributes - #75
  CHANGELOG.md
  api/api/models.py
  api/api/product.py
  api/api/siis_api.yml
Due: black, package-api, deploy

Add render_exclusive to API /products #75
  CHANGELOG.md
  api/api/models.py
  api/api/siis_api.yml
Due: black, package-api, deploy

Adding initial granules support
  app/components/AppGranuleMetadata.vue
  app/components/AppMap2.vue
  app/components/AppProduct.vue
  app/components/AppProductSwitcher.vue
Due: build-app, package-app, deploy

Linking colour scheme to map
  app/components/App2.vue
  app/components/AppColourScheme.vue
  app/components/AppMap2.vue
  app/components/AppMapControls.vue
Due: build-app, package-app, deploy

Adding initial sensor support
  app/components/App2.vue
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, deploy

Adding minimal map rotation implementation
  app/components/App2.vue
  app/components/AppMap2.vue
  app/components/AppMapControls.vue
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, deploy

Fixing inconsistent argument name
  app/components/AppMapControls.vue
Due: build-app, package-app, deploy

Updating changelog
  CHANGELOG.md
Due: none

Adding additional map controls
  app/components/App2.vue
  app/components/AppMap2.vue
  app/components/AppMapControls.vue
Due: build-app, package-app, deploy

Adding initial map rendering
  app/components/AppMap2.vue
Due: build-app, package-app, deploy

Fixing typo in watcher condition
  app/components/AppMapControls.vue
Due: build-app, package-app, deploy

Adding additional mapping controls
  app/components/AppMap2.vue
Due: build-app, package-app, deploy

Fixing sensor metadata component
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, deploy

Adding initial grid UI
  app/components/App2.vue
  app/components/AppGranuleMetadata.vue
  app/components/AppMap2.vue
  app/components/AppMapControls.vue
  app/components/AppProductSwitcher.vue
  app/components/AppSensorMetadata.vue
Due: build-app, package-app, deploy

Removing legacy UI
  app/components/App.vue
  app/components/App2.vue
  app/components/AppMap.vue
  app/components/AppMap2.vue
  app/index2.html
  app/index2.js
  app/package.json
  docker-compose.yml
Due: build-app, package-app, deploy

Path conditions:
  black: any of: api/**/*.*
  build-app: any of: app/**/*.*
  package-app: any of: app/**/*.*
  package-api: any of: api/**/*.*
  deploy: any of: app/**/*.*, api/**/*.*
