Repository antarctica/sda-siis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, build-app-stage, build-app-prod, build-app-v2-stage, build-app-v2-prod, package-app-stage, package-app-prod, package-app-v2-stage, package-app-v2-prod

black:
  stage: üß™ test
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/api:latest
    entrypoint:
    - ''
  script:
  - black --check api/
  needs: []

build-app-stage:
  stage: üèó build
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/app:latest
    entrypoint:
    - ''
  variables:
    SERVICE_API_ENDPOINT: https://api.siis.sda-stage.bas.ac.uk
    SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
  ...

build-app-prod:
  stage: üèó build
  image:
    name: docker-registry.data.bas.ac.uk/magic/siis/app:latest
    entrypoint:
    - ''
  variables:
    SERVICE_API_ENDPOINT: https://api.siis.sda-stage.bas.ac.uk
    SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
  ...

build-app-v2-stage:
  stage: üèó build
  image: node:20-alpine
  variables:
    VITE_SERVICE_API_ENDPOINT: https://api.siis.sda-stage.bas.ac.uk
    VITE_SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
    VITE_SERVICE_API_OGC_ENDPOINT: https://geoserver.siis.sda-stage.bas.ac.uk
  before_script:
  - cd app_v2
  - npm install
  ...

build-app-v2-prod:
  stage: üèó build
  image: node:20-alpine
  variables:
    VITE_SERVICE_API_ENDPOINT: https://api.siis.sda-stage.bas.ac.uk
    VITE_SERVICE_API_KV_ENDPOINT: http://10.70.1.145:32003/kv
    VITE_SERVICE_API_OGC_ENDPOINT: https://geoserver.siis.sda-stage.bas.ac.uk
  before_script:
  - cd app_v2
  - npm install
  ...

package-app-stage:
  stage: üì¶ package
  image:
    name: alpine:latest
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache zip
  - mkdir -p ./app/dist-pkgs/
  - cd ./app/dist/
  artifacts:
    paths:
    - app/dist-pkgs
    expire_in: 1 month
  script:
  - zip ../dist-pkgs/app-stage.zip *
  needs:
  - job: build-app-stage
  ...

package-app-prod:
  stage: üì¶ package
  image:
    name: alpine:latest
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache zip
  - mkdir -p ./app/dist-pkgs/
  - cd ./app/dist/
  artifacts:
    paths:
    - app/dist-pkgs
    expire_in: 1 month
  script:
  - zip ../dist-pkgs/app-prod.zip *
  needs:
  - job: build-app-prod
  ...

package-app-v2-stage:
  stage: üì¶ package
  image:
    name: alpine:latest
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache zip
  - mkdir -p ./app_v2/dist-pkgs/
  - cd ./app_v2/dist/
  artifacts:
    paths:
    - app_v2/dist-pkgs
    expire_in: 1 month
  script:
  - zip -r ../dist-pkgs/app-v2-stage.zip .
  needs:
  ...

package-app-v2-prod:
  stage: üì¶ package
  image:
    name: alpine:latest
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache zip
  - mkdir -p ./app_v2/dist-pkgs/
  - cd ./app_v2/dist/
  artifacts:
    paths:
    - app_v2/dist-pkgs
    expire_in: 1 month
  script:
  - zip -r ../dist-pkgs/app-v2-prod.zip .
  needs:
  ...

fix further git rename casing errors
  app_v2/src/config/panelItems.tsx
  app_v2/src/features/measurements/Measure.tsx
  app_v2/src/features/navigationRoutes/Routes.tsx
  app_v2/src/features/navigationRoutes/index.ts
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Clean up routes and measurement user interface
  app_v2/package-lock.json
  app_v2/panda.config/textStyles/textStyles.ts
  app_v2/public/svg/sprites.svg
  app_v2/src/components/ImportRoute/index.ts
  app_v2/src/components/PolylinePreviewSVG/PolylinePreviewSVG.tsx
  app_v2/src/components/PolylinePreviewSVG/index.ts
  app_v2/src/components/common/Button/buttonRecipe.ts
  app_v2/src/components/common/SvgIcon/SvgIcon.tsx
  app_v2/src/components/common/forms/CoordinateInput/CoordinateInput.tsx
  app_v2/src/config/constants.ts
  app_v2/src/config/panelItems.tsx
  app_v2/src/config/styles.ts
  app_v2/src/features/arcgis/hooks/useDrawSingleGraphic.tsx
  app_v2/src/features/navigationRoutes/Routes.tsx
  app_v2/src/features/navigationRoutes/RoutesPanel.tsx
  app_v2/src/features/navigationRoutes/components/CreateRouteButton.tsx
  app_v2/src/features/navigationRoutes/components/ImportRouteButton.tsx
  app_v2/src/features/navigationRoutes/index.ts
  app_v2/src/features/navigationRoutes/utils.ts
  app_v2/src/features/siisMap/Map.tsx
  app_v2/src/features/siisMap/map-controls/MeasurePolylineControl/Controller.tsx
  app_v2/src/features/siisMap/map-controls/MeasurePolylineControl/MeasurementList.tsx
  app_v2/src/styles/esri-overides.css
  app_v2/src/types/index.ts
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Refactor ImageryFootprintLayer to improve hit test performance
  app_v2/src/features/siisMap/layers/ImageryFootprintLayer/ImageryFootprintLayerClass.ts
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Add new SVG icons for import and edit functionality
  app_v2/public/svg/sprites.svg
  app_v2/src/components/common/SvgIcon/SvgIcon.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Update Ship.png asset to have a large white outline so that it stands out on busy backgrounds
  app_v2/public/Ship.png
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Refactor RTZP and GeoJSON conversion functions to enforce input types and improve data handling
  app_v2/src/api/api.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Change to prop name and type fixed in measurement preview
  app_v2/src/features/siisMap/map-controls/MeasurePolylineControl/MeasurementList.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Allow user to edit routes and names in the Routes Panel.
  app_v2/public/svg/sprites.svg
  app_v2/src/components/WorkflowStepper/WorkflowStepper.tsx
  app_v2/src/components/common/SvgIcon/SvgIcon.tsx
  app_v2/src/components/common/forms/TextField/TextField.tsx
  app_v2/src/features/navigationRoutes/RoutesPanel.tsx
  app_v2/src/features/navigationRoutes/components/RouteDetails.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Refactor Toolbar and GlobalSettingsMenu components for improved layout and responsiveness
  app_v2/src/components/Header/actions/GlobalSettings/GlobalSettingsMenu.tsx
  app_v2/src/components/Header/actions/Toolbar.tsx
  app_v2/src/components/common/MobileDialog/MobileDialog.tsx
  app_v2/src/features/navigationRoutes/components/RouteDetails.tsx
  app_v2/src/features/siisMap/Map.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

update web manifest and favicons
  app_v2/public/apple-touch-icon.png
  app_v2/public/favicon-96x96.png
  app_v2/public/favicon.ico
  app_v2/public/favicon.svg
  app_v2/public/favicon/android-chrome-192x192.png
  app_v2/public/favicon/android-chrome-512x512.png
  app_v2/public/favicon/apple-touch-icon.png
  app_v2/public/favicon/favicon-16x16.png
  app_v2/public/favicon/favicon-32x32.png
  app_v2/public/favicon/favicon.ico
  app_v2/public/favicon/icon.svg
  app_v2/public/favicon/mstile-144x144.png
  app_v2/public/favicon/mstile-150x150.png
  app_v2/public/favicon/mstile-310x150.png
  app_v2/public/favicon/mstile-310x310.png
  app_v2/public/favicon/mstile-70x70.png
  app_v2/public/favicon/safari-pinned-tab.svg
  app_v2/public/site.webmanifest
  app_v2/public/svg/sprites.svg
  app_v2/public/web-app-manifest-192x192.png
  app_v2/public/web-app-manifest-512x512.png
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Enhance index.html with additional meta tags for SEO and social media sharing; add new OpenGraph and Twitter Card tags. Replace old og-image with a new PNG file for improved visual representation.
  app_v2/index.html
  app_v2/public/og-image.png
  app_v2/public/og.png
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Update Vite configuration to load environment variables and transform index.html for dynamic base URL; add VITE_BASE_URL to .env.development for improved deployment flexibility.
  app_v2/.env.development
  app_v2/vite.config.ts
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

tweak workflowstepper and layer items styles
  app_v2/src/components/WorkflowStepper/WorkflowStepper.tsx
  app_v2/src/features/layersManagement/components/LayerStatus/LayerStatus.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Refactor Title component in Typography to improve prop handling and class composition
  app_v2/src/components/common/Typography/Typography.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Enhance GlobalSettingsMenu with theme toggler and layout improvements
  app_v2/src/components/Header/actions/GlobalSettings/GlobalSettingsMenu.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Fix layout of ship sensor information when on mobile devices.
  app_v2/src/components/ShipSensorInfo/SensorInfoPanel.tsx
  app_v2/src/components/ShipSensorInfo/ShipInfo.tsx
  app_v2/src/components/ShipSensorInfo/ShipSensorInfo.tsx
  app_v2/src/components/common/Button/MapButton.tsx
  app_v2/src/features/siisMap/Map.tsx
  app_v2/src/vite-env.d.ts
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

tweak CICD ready for new deploy
  .gitlab-ci.yml
Due: none

Update CI/CD configuration to use 'siis_app' variable for deployment playbooks
  .gitlab-ci.yml
Due: none

fix for reset application state not being called.
  app_v2/src/components/Header/actions/SelectProjection.tsx
  app_v2/src/hooks/useResetApplicationState.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

add missing env for polar-route server
  .gitlab-ci.yml
Due: none

attempt to fix v1 build by updating package lockfile.
  app/vue.config.js
Due: build-app-stage, build-app-prod, package-app-stage, package-app-prod

split styling props from text props.
  app_v2/src/components/common/Typography/Typography.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

attempt to update lock file to fix SIIS v1
  app/Dockerfile
  app/package-lock.json
  app/yarn.lock
Due: build-app-stage, build-app-prod, package-app-stage, package-app-prod

tweak components to attempt to fix vue error
  app/components/App.vue
  app/components/AppMapControls.vue
Due: build-app-stage, build-app-prod, package-app-stage, package-app-prod

check whether rolling back SIIS V1 packages resolves errors
  app/components/AppProductSwitcher.vue
  app/package-lock.json
  app/package.json
Due: build-app-stage, build-app-prod, package-app-stage, package-app-prod

attempt singular upgrade of openlayers
  app/package-lock.json
  app/package.json
Due: build-app-stage, build-app-prod, package-app-stage, package-app-prod

peg open layers to existing version used in previous main branch
  app/package.json
Due: build-app-stage, build-app-prod, package-app-stage, package-app-prod

revert to old yarn lock file
  app/Dockerfile
  app/package-lock.json
  app/yarn.lock
Due: build-app-stage, build-app-prod, package-app-stage, package-app-prod

Bug Fixes for map interactions and graphic layers.
  app_v2/src/components/App/App.tsx
  app_v2/src/components/Header/actions/SelectProjection.tsx
  app_v2/src/contexts/MapInteractionLayers/MapInteractionLayersProvider.tsx
  app_v2/src/contexts/MapInteractionLayers/types.ts
  app_v2/src/features/arcgis/hooks/useLayerView.tsx
  app_v2/src/features/layersManagement/components/LayerManager/hooks/useResetLayers.tsx
  app_v2/src/features/measurements/Measure.tsx
  app_v2/src/features/navigationRoutes/RoutesPanel.tsx
  app_v2/src/features/siisMap/Map.tsx
  app_v2/src/features/siisMap/layers/ShipPositionLayer/ShipLocationGraphic.tsx
  app_v2/src/features/siisMap/useMapInitialisation.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

default the application to open on the ship
  app_v2/src/components/App/App.tsx
  app_v2/src/config/map.ts
  app_v2/src/hooks/useInitialCRS.ts
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

ensure that the map rotation remains in sync when the ship sensor information updates
  app_v2/src/features/siisMap/map-controls/MapRotationControl/MapRotationControl.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Allow a user to remove an imagery granule from the map via the layer panel.
  app_v2/TODO.md
  app_v2/src/features/layersManagement/components/LayerManager/hooks/selectors.tsx
  app_v2/src/features/layersManagement/components/LayerManager/hooks/useRemoveLayer.tsx
  app_v2/src/features/layersManagement/components/LayerManager/ui/layer/LayerItem.tsx
  app_v2/src/features/layersManagement/components/LayerManager/ui/layerGroup/layerGroupContent.tsx
  app_v2/src/features/siisMap/layers/ImageryFootprintLayer/ImageryFootprintLayerClass.ts
  app_v2/src/features/siisMap/useMapInitialisation.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

add new fields to product model and logically reorder the fields.
  api/api/models.py
  api/api/siis_api.yml
Due: black

Add legendEnabled property to WFS layer creation
  app_v2/src/features/siisMap/utils.ts
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

update api types
  app_v2/src/types/api.d.ts
  docs/api.md
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

change polar route server url to https
  .gitlab-ci.yml
Due: none

remove redundant api-kv package
  README.md
  api-kv/.bandit
  api-kv/Dockerfile
  api-kv/LICENSE.md
  api-kv/README.md
  api-kv/openapi.yml
  api-kv/poetry.lock
  api-kv/poetry.toml
  api-kv/pyproject.toml
  api-kv/siis_key_value_store/__init__.py
  api-kv/tests/__init__.py
  api-kv/tests/conftest.py
  api-kv/tests/siis_key_value_store/__init__.py
  api-kv/tests/siis_key_value_store/test_app.py
  api-kv/tests/siis_key_value_store/test_key_value.py
  docker-compose.yml
Due: none

fix border radius style in calandar end caps.
  app_v2/src/components/common/forms/DatePicker/RangeCalendar.tsx
Due: build-app-v2-stage, build-app-v2-prod, package-app-v2-stage, package-app-v2-prod

Path conditions:
  black: any of: api/**/*.*
  build-app-stage: any of: app/**/*.*
  build-app-prod: any of: app/**/*.*
  build-app-v2-stage: any of: app_v2/**/*.*
  build-app-v2-prod: any of: app_v2/**/*.*
  package-app-stage: any of: app/**/*.*
  package-app-prod: any of: app/**/*.*
  package-app-v2-stage: any of: app_v2/**/*.*
  package-app-v2-prod: any of: app_v2/**/*.*
